
* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('Bilder/Introduksjon/background.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	font-family: Arial;
}
p {
	font-size: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: #ffffff;
}

.h-index {
	margin-top: 10%;
}

.h1-for-Chris {
	font-size: 50px;
	margin-top: 10%
}
.p-for-Chris {
	font-size: 20px;
}

.h1-for-Jonas {
	font-size: 50px;
	margin-top: 10%
}
.h2-for-Jonas {
	font-size: 35px;
}
.img-for-Jonas {
	display: block;
  margin-left: auto;
  margin-right: auto;
}
