

body {
	background-image: url('background.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.h1-for-index {
	text-align: center;
	margin-top: 5%
}

.h2-for-index {
	text-align: center;
	margin-top: 20%;
}

.h1-for-Chris {
	text-align: center;
	font-size: 50px;
	margin-top: 10%
}
.p-for-Chris {
	text-align: center;
	font-size: 20px;
}

.p-for-Jonas {
	text-align: center;
	font-size: 20px;
}
.h1-for-Jonas {
	text-align: center;
	font-family: Arial;
	font-size: 50px;
}
.h2-for-Jonas {
	text-align: center;
	font-size: 35px;
}

.relink
 {
	margin-top: 5%;
	text-align: center;
}
